*{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: darkgray;
}

h1{
    background-color: black;
    color: azure;
    height: 5rem;
    line-height: 5rem;   /*vertically center lava mate */
   
}

.c{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 175px;
    width: 175px;
    object-fit: cover;
    border-radius: 50%;
}


.choices{
    padding-top: 3rem;
   display: flex;
   justify-content: center;
   gap: 3rem;
   align-items: center;
}
.c:hover{
    background-color: black;
    cursor: pointer;
}
.score{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 4rem;
    font-size: 2rem;
    gap: 4rem;
}

#cs,#ms{
    font-size: 4rem;
}
.result{
    margin-top: 5rem;
}
#p{
    display: inline;
    background-color: black;
    color: azure;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 10px;
    
}